<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">

    <a asp-controller="Home" asp-action="Index" class="navbar-brand" >Birinciler Halı</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
            <a asp-controller="Home" asp-action="Index" class="nav-item nav-link active" >Anasayfa<span class="sr-only"></span></a>
            <a asp-controller="UI" asp-action="AboutUs" class="nav-link">Hakkımızda</a>
            <a asp-controller="Shop" asp-action="List" class="nav-link">Ürünler</a>
            
              @if (User.Identity.IsAuthenticated)
              {
                    <a asp-controller="Cart" asp-action="Index"  class="nav-link">Sepetim</a>
                    <a asp-controller="Cart" asp-action="GetOrders" class="nav-link">Siparişlerim</a>

                  if (User.IsInRole("admin"))
                  {
                    <a asp-controller="Admin" asp-action="CreateProduct" class="nav-link">Ürün Ekle</a>
                    <a asp-controller="Admin" asp-action="ProductList" class="nav-link">Ürün Düzenle</a>
                    <a asp-controller="Admin" asp-action="CreateCategory" class="nav-link">Kategori Ekle</a>
                    <a asp-controller="Admin" asp-action="CategoryList" class="nav-link">Kategori Düzenle</a>
                    <a asp-controller="Admin" asp-action="CreateBrand" class="nav-link">Marka Ekle</a>
                    <a asp-controller="Admin" asp-action="BrandList" class="nav-link">Marka Düzenle</a>

                  }
              }
                <a asp-controller="UI" asp-action="ContactUs" class="nav-link">İletişim</a>

        </div>
        <div class="navbar-nav  ml-auto">
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Account" asp-action="Manage" class="nav-link">
                    @User.Identity.Name
                </a>
               <a asp-controller="Account" asp-action="Logout" class="nav-link">Çıkış Yap</a>

            }
            else
            {
                    <a asp-controller="Account" asp-action="Login" class="nav-link">Giriş Yap</a>
                    <a asp-controller="Account" asp-action="Register" class="nav-link">Üye Ol</a>

            }
        </div>

    </div>
    </div>
</nav>
       