@model BrandListViewModel

<div class="list-group">
    @foreach (var item in Model.Brands)
    {
        <a asp-controller="Shop"
           asp-action="List"
           asp-route-brand="@item.Name.ToLower()"
           class="list-group-item list-group-item-action @(Model.SelectedBrand==item.Name.ToLower()?"active":"")">@item.Name</a>
    }
</div>