@model BrandListModel
@{
    ViewData["Title"] = "BrandList";
}



<h1>Marka Düzenle</h1>
<hr />
@if (Model.Brands.Count > 0)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <td style="width:30px;">Id</td>
                <td style="width:100px;">Marka Adı</td>
                <td style="width:150px;"></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Brands)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        <a class="btn btn-primary btn-sm mr-2" href="/admin/editbrand/@item.Id">Düzenle</a>

                        <form action="/admin/deletebrand" method="post" style="display:inline;">
                            <input type="hidden" name="brandId" value="@item.Id" />
                            <button type="submit" class="btn btn-danger btn-sm">Sil</button>
                        </form>


                    </td>
                </tr>
            }

        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning">
        <h4>No Products</h4>
    </div>
}
